<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Price</th>
        </tr>
        
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">id</td>
            <td th:text="${book.author}">author</td>
            <td th:text="${book.publicationYear}">publicationYear</td>
            <td th:text="${book.isbn}">isbn</td>
            <td th:text="${book.price}">price</td>
        </tr>
    </table>
</body>
</html>
