<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Category</th>
            <th>ISBN</th>
            <th>Price</th>
        </tr>
        
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">title</td>
            <td th:text="${book.author}">author</td>
            <td th:text="${book.publicationYear}">publicationYear</td>
            <td th:text="${book.category.name}">category</td>
            <td th:text="${book.isbn}">isbn</td>
            <td th:text="${book.price}">price</td>

            <td>
                <a th:href="@{/booklist/delete/{id}(id=${book.bookid})}">Delete</a>
                <a th:href="@{/booklist/edit/{id}(id=${book.bookid})}">Edit</a>
            </td>
            
        </tr>
    </table>
    <a th:href="@{/showaddform}">Add Book</a>
</body>
</html>
