<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
    <h2>Category List</h2>
    <table>
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryId}"></td>
                <td th:text="${category.name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
